In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
tup[0]

's'

In [5]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [6]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [7]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [8]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [9]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [10]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [12]:
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
print(b)

1
2
2
1

In [16]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [17]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest

[3, 4, 5]

In [18]:
a, b, *_ = values

In [19]:
a

1

In [20]:
b

2

In [21]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [22]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [23]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [25]:
gen = range(10)
gen

range(0, 10)

In [26]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [28]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [29]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [30]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [31]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [32]:
'dwarf' in b_list

True

In [33]:
'dwarf' not in b_list

False

In [34]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [35]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [36]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [37]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [39]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [40]:
bisect.bisect(c, 5)

6

In [42]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 6, 6, 7]

In [43]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [45]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [47]:
seq[:5]

[7, 2, 3, 6, 3]

In [48]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [49]:
seq[-4:]

[5, 6, 0, 1]

In [50]:
seq[-6:-2]

[6, 3, 5, 6]

In [51]:
seq[::2]

[7, 3, 3, 6, 1]

In [52]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [53]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [55]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [56]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [57]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [58]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [59]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [61]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [62]:
last_names

('Ryan', 'Clemens', 'Curt')

In [63]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [64]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [66]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [67]:
d1['b']

[1, 2, 3, 4]

In [68]:
'b' in d1

True

In [69]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [70]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [71]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [72]:
ret = d1.pop('dummy')
ret

'another value'

In [73]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [76]:
list(d1.keys())

['a', 'b', 7]

In [77]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [78]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [79]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [80]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [81]:
hash('string')

-5985448831030004860

In [82]:
hash((1, 2, (2, 3)))

1097636502276347782

In [83]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [84]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [86]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [87]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [88]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [89]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [90]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [91]:
a.intersection(b)

{3, 4, 5}

In [92]:
a & b

{3, 4, 5}

In [93]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [94]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [95]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [96]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [97]:
a_set.issuperset({1, 2, 3})

True

In [98]:
{1, 2, 3} == {3, 2, 1}

True

In [99]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [100]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [101]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [102]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [103]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [104]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [105]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [107]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [108]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [109]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [110]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [111]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [112]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [113]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [114]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [115]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [116]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [117]:
dict_iterator = iter(some_dict)
dict_iterator

In [119]:
list(dict_iterator)

['a', 'b', 'c']

In [120]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [121]:
gen = squares()
gen

In [122]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [123]:
gen = (x ** 2 for x in range(100))
gen

In [125]:
sum(x ** 2 for x in range(100))

328350

In [127]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [128]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [129]:
float('1.2345')

1.2345

In [130]:
float('something')

ValueError: could not convert string to float: 'something'

In [131]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [132]:
attempt_float('1.2345')

1.2345

In [134]:
attempt_float('something')

'something'

In [135]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [138]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [139]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [140]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [141]:
attempt_float((1, 2))

(1, 2)

In [142]:
%pushd book-materials

[WinError 2] 系统找不到指定的文件。: 'book-materials'
D:\MyData\Projects\py-data-analysis

['D:\\MyData\\Projects\\py-data-analysis']

In [144]:
path = 'examples/segismundo.txt'
f = open(path)

In [145]:
lines = [x.rstrip() for x in open(path)]
lines

['Sue帽a el rico en su riqueza,',
 'que m谩s cuidados le ofrece;',
 '',
 'sue帽a el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sue帽a el que a medrar empieza,',
 'sue帽a el que afana y pretende,',
 'sue帽a el que agravia y ofende,',
 '',
 'y en el mundo, en conclusi贸n,',
 'todos sue帽an lo que son,',
 'aunque ninguno lo entiende.']

In [146]:
f.close()

In [147]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [150]:
f = open(path)
f.read(10)

'Sue帽a el r'

In [151]:
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [152]:
f.tell()

11

In [154]:
f2.tell()

10

In [155]:
import sys
sys.getdefaultencoding()

'utf-8'

In [156]:
f.seek(3)

3

In [157]:
f.read(1)

'帽'

In [158]:
f.close()
f2.close()

In [159]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Sue帽a el rico en su riqueza,\n',
 'que m谩s cuidados le ofrece;\n',
 'sue帽a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sue帽a el que a medrar empieza,\n',
 'sue帽a el que afana y pretende,\n',
 'sue帽a el que agravia y ofende,\n',
 'y en el mundo, en conclusi贸n,\n',
 'todos sue帽an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [160]:
import os
os.remove('tmp.txt')

In [161]:
with open(path) as f:
    chars = f.read(10)
chars

'Sue帽a el r'

In [162]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [163]:
data.decode('utf8')

'Sueña el '

In [164]:
data[:4].decode('utf8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [167]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

UnicodeEncodeError: 'latin-1' codec can't encode character '\u5e3d' in position 3: ordinal not in range(256)

In [168]:
os.remove(sink_path)

In [169]:
f = open(path)
f.read(5)
f.seek(4)
f.read(1)
f.close()

In [170]:
%popd

D:\MyData\Projects\py-data-analysis
popd -> D:\MyData\Projects\py-data-analysis