### Tuple

In [6]:
tup = 4, 5, 6

In [7]:
tup

(4, 5, 6)

In [8]:
nested_tup = (4, 5, 6), (7, 8)

In [9]:
nested_tup

((4, 5, 6), (7, 8))

In [10]:
tuple([4, 0, 2])

(4, 0, 2)

In [11]:
tup = tuple('string')

In [12]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [13]:
tup[0]

's'

In [14]:
tup = tuple(['foo', [1, 2], True])

In [15]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [16]:
tup[1].append(3)

In [17]:
tup

('foo', [1, 2, 3], True)

In [23]:
a = [1, 2]

In [24]:
tup = (['foo', a, True])

In [25]:
tup

['foo', [1, 2], True]

In [26]:
a.append(3)

In [27]:
tup

['foo', [1, 2, 3], True]

In [28]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [29]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [30]:
tup = (4, 5, 6)

In [31]:
a, b, c = tup

In [32]:
b

5

In [33]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup

In [34]:
d

7

In [35]:
a, b = 1, 2

In [36]:
a

1

In [37]:
b

2

In [38]:
b, a = a, b

In [39]:
a

2

In [40]:
b

1

In [41]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [42]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [43]:
values = 1, 2, 3, 4, 5

In [44]:
a, b, *rest = values

In [45]:
a, b

(1, 2)

In [46]:
rest

[3, 4, 5]

In [47]:
a, b, *_ = values

In [48]:
a = (1, 2, 2, 2, 3, 4, 2)

In [49]:
a.count(2)

4

### List

In [50]:
a_list = [2, 3, 7, None]

In [51]:
tup = ('foo', 'bar', 'baz')

In [52]:
b_list = list(tup)

In [53]:
b_list

['foo', 'bar', 'baz']

In [54]:
b_list[1] = 'peekaboo'

In [55]:
b_list

['foo', 'peekaboo', 'baz']

In [56]:
gen = range(10)

In [57]:
gen

range(0, 10)

In [58]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
b_list.append('dwarf')

In [60]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [61]:
b_list.insert(1, 'red')

In [62]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [63]:
b_list.insert(5, 'x')

In [64]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'x']

In [65]:
b_list.pop()

'x'

In [66]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [67]:
b_list.insert(4, 'sss')

In [68]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'sss', 'dwarf']

In [70]:
b_list.remove('sss')

In [71]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [72]:
b_list.pop(2)

'peekaboo'

In [73]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [74]:
b_list.append('foo')

In [75]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [76]:
b_list.remove('foo')

In [77]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [78]:
'dwarf' in b_list

True

In [79]:
'dwarf' not in b_list

False

In [80]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [81]:
x = [4, None, 'foo']

In [84]:
x.extend([7, 8, (2, 3)])

In [87]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [88]:
a = [7, 2, 5, 1, 3]

In [89]:
a.sort()

In [90]:
a

[1, 2, 3, 5, 7]

In [91]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [92]:
b.sort(key=len)

In [93]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [94]:
import bisect

In [95]:
c = [1, 2, 2, 2, 3, 4, 7]

In [96]:
bisect.bisect(c, 2)

4

In [97]:
bisect.bisect(c, 5)

6

In [98]:
bisect.insort(c, 6)

In [99]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [108]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [109]:
seq[1:5]

[2, 3, 7, 5]

In [110]:
seq[3:4] = [6, 3]

In [111]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [112]:
seq[:5]

[7, 2, 3, 6, 3]

In [113]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [114]:
seq[-4:]

[5, 6, 0, 1]

In [118]:
seq[-6:-2]

[6, 3, 5, 6]

In [119]:
seq[::2]

[7, 3, 3, 6, 1]

In [120]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [121]:
some_list = ['foo', 'bar', 'baz']

In [122]:
mapping = {}

In [123]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [124]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [125]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [126]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [127]:
seq1 = ['foo', 'bar', 'baz']

In [128]:
seq2 = ['one', 'two', 'three']

In [129]:
zipped = zip(seq1, seq2)

In [130]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [131]:
seq3 = [False, True]

In [132]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [133]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [134]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [135]:
first_names, last_names = zip(*pitchers)

In [136]:
first_names

('Nolan', 'Roger', 'Schilling')

In [137]:
last_names

('Ryan', 'Clemens', 'Curt')

In [139]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [157]:
empty_dict = {}

In [158]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

In [159]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [160]:
d1[7] = 'an integer'

In [161]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [162]:
d1['b']

[1, 2, 3, 4]

In [163]:
'b' in d1

True

In [164]:
d1[5] = 'some value'

In [165]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [166]:
d1['dummy'] = 'another value'

In [167]:
del d1[5]

In [168]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [169]:
ret = d1.pop('dummy')

In [170]:
ret

'another value'

In [171]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [172]:
list(d1.keys())

['a', 'b', 7]

In [173]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [174]:
d1.update({'b': 'foo', 'c': 12})

In [175]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [176]:
mapping = dict(zip(range(5), reversed(range(5))))

In [177]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [178]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [179]:
by_letter = {}

In [180]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [181]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [182]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [183]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [184]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [185]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [186]:
hash('string')

-6963037419166045446

In [188]:
hash((1, 2, (2, 3)))

1097636502276347782

In [189]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [190]:
d = {}

In [191]:
d[tuple([1, 2, 3])] = 5

In [192]:
d

{(1, 2, 3): 5}

### set

In [193]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [194]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [195]:
a = {1, 2, 3, 4, 5}

In [196]:
b = {3, 4, 5, 6, 7, 8}

In [197]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [198]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [199]:
a.intersection(b)

{3, 4, 5}

In [200]:
a & b

{3, 4, 5}

In [201]:
c = a.copy()

In [202]:
c |= b

In [203]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [204]:
d = a.copy()

In [205]:
d &= b

In [206]:
d

{3, 4, 5}

In [207]:
my_data = [1, 2, 3, 4]

In [208]:
my_set = {tuple(my_data)}

In [209]:
my_set

{(1, 2, 3, 4)}

In [210]:
my_set = {my_data}

TypeError: unhashable type: 'list'

In [211]:
a_set = {1, 2, 3, 4, 5}

In [212]:
{1, 2, 3}.issubset(a_set)

True

In [213]:
a_set.issuperset({1, 2, 3})

True

In [214]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

In [215]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [216]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [218]:
unique_lengths = {len(x) for x in strings}

In [219]:
unique_lengths

{1, 2, 3, 4, 6}

In [220]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [221]:
loc_mapping = {val: index for index, val in enumerate(strings)}

In [222]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [223]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'June', 'Javier', 'Natalia', 'Pilar']]

In [224]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [225]:
names_of_interest

['Steven']

In [226]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [227]:
result

['Steven']

In [228]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [229]:
flattened = [x for tup in some_tuples for x in tup]

In [230]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [231]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

In [232]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [233]:
my_function(5, 6,z=0.7)

0.06363636363636363

In [234]:
my_function(3.14, 7, 3.5)

35.49

In [235]:
my_function(10, 20)

45.0

In [236]:
my_function(x=5, y=6, z=7)

77

In [237]:
my_function(y=6, x=5, z=7)

77

### Namespaces, Scope, and Local Functions

In [238]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [242]:
func
a

[]

In [243]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [244]:
func()
a

[0, 1, 2, 3, 4]

In [251]:
a = None

def bind_a_variable():
    a = []

bind_a_variable()

In [252]:
a

In [253]:
a = None

def bind_a_variable():
    global a
    a = []

bind_a_variable()

In [254]:
a

[]

### Returning Multiple Values

In [255]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [257]:
a, b, c = f()

In [258]:
return_value = f()

In [259]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a': a, 'b': b, 'c': c}

### Functions Are Objects

In [271]:
states = ['    Alabama', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [272]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [273]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [276]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_string(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [277]:
clean_string(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [278]:
for x in map(remove_punctuation, states):
    print(x)

    Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

In [279]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [280]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [281]:
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [282]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [283]:
strings.sort(key=lambda x: len(set(x)))

In [284]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

In [289]:
def add_numbers(x, y):
    return x + y

In [290]:
add_five = lambda y: add_numbers(5, y)

In [291]:
from functools import partial

In [301]:
add_five = partial(add_numbers, 5)

In [302]:
add_five(9)

14

### Generators

In [303]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

for key in some_dict:
    print(key)

a
b
c

In [304]:
dict_iterator = iter(some_dict)

In [305]:
dict_iterator

In [306]:
list(dict_iterator)

['a', 'b', 'c']

In [307]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [308]:
gen = squares()

In [309]:
gen

In [310]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expressions

In [311]:
gen = (x ** 2 for x in range(100))

In [312]:
gen

In [313]:
def _make_gen():
    for x in range(100):
        yield x ** 2

gen = _make_gen()

In [314]:
gen

In [315]:
sum(x ** 2 for x in range(100))

328350

In [316]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module

In [317]:
import itertools

In [318]:
first_letter = lambda x: x[0]

In [319]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [320]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))  # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### Errors and Exception Handling

In [321]:
float('1.2345')

1.2345

In [322]:
float('something')

ValueError: could not convert string to float: 'something'

In [323]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [324]:
attempt_float('1.2345')

1.2345

In [325]:
attempt_float('something')

'something'

In [326]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [327]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [328]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [329]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [330]:
attempt_float((1, 2))

(1, 2)

## Files and the Operating System

In [331]:
path = 'examples/segismundo.txt'

In [332]:
f = open(path)

In [333]:
for line in f:
    pass

In [334]:
lines = [x.rstrip() for x in open(path)]

In [335]:
lines

['Suea el rico en su riqueza,',
 'que ms cuidados le ofrece;',
 '',
 'suea el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'suea el que a medrar empieza,',
 'suea el que afana y pretende,',
 'suea el que agravia y ofende,',
 '',
 'y en el mundo, en conclusin,',
 'todos suean lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [336]:
f = open(path)

In [337]:
f.read(10)

'Suea el r'

In [338]:
f2 = open(path, 'rb')  # Binary mode

In [339]:
f2.read(10)

b'Sue\xc3\xb1a el '

In [340]:
f.tell()

11

In [341]:
f.read(3)

'ico'

In [342]:
f2.tell()

10

In [343]:
import sys

In [344]:
sys.getdefaultencoding()

'utf-8'

In [345]:
f.seek(3)

3

In [346]:
f.read(1)

''

In [347]:
f.close()

In [348]:
f2.close()

In [357]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

In [358]:
with open('tmp.txt') as f:
    lines = f.readlines()

In [359]:
lines

['Suea el rico en su riqueza,\n',
 'que ms cuidados le ofrece;\n',
 'suea el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'suea el que a medrar empieza,\n',
 'suea el que afana y pretende,\n',
 'suea el que agravia y ofende,\n',
 'y en el mundo, en conclusin,\n',
 'todos suean lo que son,\n',
 'aunque ninguno lo entiende.\n']

### Bytes and Unicode with Files

In [360]:
with open(path) as f:
    chars = f.read(10)

In [361]:
chars

'Suea el r'

In [362]:
with open(path, 'rb') as f:
    data = f.read(10)

In [363]:
data

b'Sue\xc3\xb1a el '

In [364]:
data.decode('utf-8')

'Suea el '

In [367]:
data[:4].decode('utf8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [368]:
sink_path = 'sink.txt'

In [369]:
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())

In [370]:
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

Suea el r

In [371]:
f = open(path)

In [372]:
f.read(5)

'Suea'

In [373]:
f.seek(4)

4

In [374]:
f.read(1)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [375]:
f.close()