## 11.1 Date and Time Data Types and Tools

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()
now

datetime.datetime(2019, 5, 29, 21, 50, 8, 553054)

In [3]:
now.year, now.month, now.day

(2019, 5, 29)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
from datetime import timedelta

In [8]:
start = datetime(2011, 1, 7)

In [9]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [11]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [13]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [15]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [18]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [20]:
import pandas as pd

datestrs = ['2011-07-26 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-26 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [22]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-26 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [23]:
idx[2]

NaT

In [24]:
pd.isnull(idx)

array([False, False,  True])

## 11.2 Time Series Basics

In [26]:
import numpy as np

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8), 
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)

In [27]:
ts

2011-01-02    0.702903
2011-01-05    1.967896
2011-01-07   -1.243676
2011-01-08   -0.021038
2011-01-10    0.014666
2011-01-12   -0.619145
dtype: float64

In [28]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [29]:
ts + ts[::2]

2011-01-02    1.405805
2011-01-05         NaN
2011-01-07   -2.487353
2011-01-08         NaN
2011-01-10    0.029331
2011-01-12         NaN
dtype: float64

In [32]:
ts.index.dtype

dtype('<M8[ns]')

In [33]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [34]:
stamp = ts.index[2]
ts[stamp]

-1.2436763141516827

In [35]:
ts['1/10/2011']

0.014665701797280307

In [36]:
ts['20110110']

0.014665701797280307

In [37]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.740496
2000-01-02    2.506558
2000-01-03    0.260703
2000-01-04    0.081861
2000-01-05   -0.919283
2000-01-06   -0.405033
2000-01-07    1.411140
2000-01-08   -1.328550
2000-01-09    0.903240
2000-01-10   -0.223107
2000-01-11   -1.272270
2000-01-12   -1.530328
2000-01-13   -0.850894
2000-01-14   -0.244737
2000-01-15    1.625835
2000-01-16   -1.346339
2000-01-17    1.350930
2000-01-18   -1.248681
2000-01-19    0.949378
2000-01-20   -0.257739
2000-01-21    1.488259
2000-01-22   -1.671924
2000-01-23   -1.104209
2000-01-24    1.475111
2000-01-25   -0.498454
2000-01-26    0.456648
2000-01-27   -2.110513
2000-01-28   -0.768995
2000-01-29    1.615603
2000-01-30    0.225121
                ...
2002-08-28    0.780298
2002-08-29   -0.081989
2002-08-30   -0.544908
2002-08-31   -1.301417
2002-09-01    0.050691
2002-09-02    1.508047
2002-09-03   -0.607613
2002-09-04    1.263113
2002-09-05    2.089383
2002-09-06   -2.684406
2002-09-07   -0.829647
2002-09-08   -0.198088
2002-09-09    1.360925
2002-09-10   -0.938807
2002-09-11    1.342007
2002-09-12   -0.000146
2002-09-13   -0.216026
2002-09-14    0.635252
2002-09-15   -0.423450
2002-09-16    0.930776
2002-09-17   -1.228896
2002-09-18   -0.417431
2002-09-19    1.162306
2002-09-20    0.620972
2002-09-21   -1.388277
2002-09-22   -0.215538
2002-09-23    1.208935
2002-09-24   -0.419608
2002-09-25   -0.120534
2002-09-26    2.172079
Freq: D, Length: 1000, dtype: float64

In [38]:
longer_ts['2001']

2001-01-01    0.402416
2001-01-02    0.789596
2001-01-03   -0.155224
2001-01-04    1.049282
2001-01-05    0.351087
2001-01-06   -1.265435
2001-01-07   -0.449353
2001-01-08   -0.322868
2001-01-09    0.770190
2001-01-10    1.532606
2001-01-11   -0.523714
2001-01-12   -0.745502
2001-01-13   -1.190598
2001-01-14   -0.151995
2001-01-15    1.454541
2001-01-16    1.179370
2001-01-17   -1.214934
2001-01-18    0.766733
2001-01-19    2.955778
2001-01-20    0.090307
2001-01-21   -1.318645
2001-01-22   -0.720711
2001-01-23    1.321141
2001-01-24   -1.696638
2001-01-25   -0.078044
2001-01-26   -1.165943
2001-01-27   -0.594820
2001-01-28    0.406094
2001-01-29    0.253946
2001-01-30   -0.149669
                ...
2001-12-02    0.159842
2001-12-03   -0.575931
2001-12-04   -0.173986
2001-12-05   -1.925147
2001-12-06    0.355122
2001-12-07   -0.061989
2001-12-08    0.271789
2001-12-09    0.628053
2001-12-10   -0.188846
2001-12-11    0.641465
2001-12-12    0.438587
2001-12-13    2.217229
2001-12-14    0.420325
2001-12-15    0.383070
2001-12-16    0.287324
2001-12-17   -2.095606
2001-12-18   -2.157934
2001-12-19   -0.581859
2001-12-20   -2.379050
2001-12-21   -0.667474
2001-12-22   -1.115135
2001-12-23    0.308082
2001-12-24   -0.124898
2001-12-25   -1.098795
2001-12-26    0.259044
2001-12-27    1.494547
2001-12-28    0.599877
2001-12-29    1.446046
2001-12-30   -0.463270
2001-12-31   -0.953481
Freq: D, Length: 365, dtype: float64

In [39]:
longer_ts['2001-05']

2001-05-01    0.699221
2001-05-02   -0.039638
2001-05-03    0.305941
2001-05-04   -0.006242
2001-05-05   -1.001090
2001-05-06   -1.062208
2001-05-07    0.168995
2001-05-08    0.713058
2001-05-09    0.024290
2001-05-10    0.026149
2001-05-11   -0.694811
2001-05-12   -0.906731
2001-05-13   -0.107198
2001-05-14   -0.060466
2001-05-15    0.640927
2001-05-16   -0.119744
2001-05-17   -0.255247
2001-05-18    1.873315
2001-05-19    0.640966
2001-05-20   -2.126871
2001-05-21   -1.474804
2001-05-22   -0.037492
2001-05-23    1.089781
2001-05-24    0.184336
2001-05-25   -0.261595
2001-05-26    1.129301
2001-05-27    0.327289
2001-05-28    0.981283
2001-05-29    0.911537
2001-05-30   -0.348848
2001-05-31   -0.393569
Freq: D, dtype: float64

In [40]:
ts[datetime(2011, 1, 7)]

-1.2436763141516827

In [41]:
ts

2011-01-02    0.702903
2011-01-05    1.967896
2011-01-07   -1.243676
2011-01-08   -0.021038
2011-01-10    0.014666
2011-01-12   -0.619145
dtype: float64

In [44]:
ts['1/6/2011': '1/11/2011']

2011-01-07   -1.243676
2011-01-08   -0.021038
2011-01-10    0.014666
dtype: float64

In [45]:
ts.truncate(after='1/9/2011')

2011-01-02    0.702903
2011-01-05    1.967896
2011-01-07   -1.243676
2011-01-08   -0.021038
dtype: float64

In [46]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.624167  1.744539 -0.696204 -0.695405
2001-05-09  0.215673  0.981908  0.243436  0.452875
2001-05-16  2.195516  0.021773  0.377468 -0.283842
2001-05-23 -0.151219 -2.009222 -0.115224 -0.609579
2001-05-30  0.028578 -0.788352  2.359013 -0.766578

### Time Series with Duplicate Indices

In [47]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [49]:
dup_ts.index.is_unique

False

In [50]:
dup_ts['1/3/2000']

4

In [51]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [52]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [53]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 Date Ranges, Frequencies, and Shifting

In [54]:
ts

2011-01-02    0.702903
2011-01-05    1.967896
2011-01-07   -1.243676
2011-01-08   -0.021038
2011-01-10    0.014666
2011-01-12   -0.619145
dtype: float64

In [56]:
resampler = ts.resample('D')
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

### Generating Date Ranges

In [57]:
index =pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [58]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [61]:
pd.date_range('2000-01-01', '2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [62]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [63]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [64]:
from pandas.tseries.offsets import Hour, Minute

In [65]:
hour = Hour()
hour

In [66]:
four_hours = Hour(4)
four_hours

In [67]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [68]:
Hour(2) + Minute(30)

In [69]:
pd.date_range('2000-01-01', periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [71]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data

In [72]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [73]:
ts

2000-01-31    0.479010
2000-02-29    0.603392
2000-03-31    0.102856
2000-04-30    1.086280
Freq: M, dtype: float64

In [74]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.479010
2000-04-30    0.603392
Freq: M, dtype: float64

In [75]:
ts.shift(-2)

2000-01-31    0.102856
2000-02-29    1.086280
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [76]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    0.259665
2000-03-31   -0.829537
2000-04-30    9.561201
Freq: M, dtype: float64

In [77]:
ts.shift(2, freq='M')

2000-03-31    0.479010
2000-04-30    0.603392
2000-05-31    0.102856
2000-06-30    1.086280
Freq: M, dtype: float64

In [78]:
ts.shift(3, freq='D')

2000-02-03    0.479010
2000-03-03    0.603392
2000-04-03    0.102856
2000-05-03    1.086280
dtype: float64

In [79]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.479010
2000-02-29 01:30:00    0.603392
2000-03-31 01:30:00    0.102856
2000-04-30 01:30:00    1.086280
Freq: M, dtype: float64

In [80]:
from pandas.tseries.offsets import Day, MonthEnd

In [81]:
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [82]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [83]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [84]:
now + 2 * MonthEnd()

Timestamp('2011-12-31 00:00:00')

In [85]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [86]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [87]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -0.331986
2000-01-19    0.505672
2000-01-23   -0.340454
2000-01-27    1.190518
2000-01-31    0.520566
2000-02-04   -0.623659
2000-02-08    0.411974
2000-02-12   -0.262365
2000-02-16   -0.241361
2000-02-20   -0.189051
2000-02-24   -0.480821
2000-02-28   -0.418879
2000-03-03    0.168158
2000-03-07    0.649563
2000-03-11   -1.148945
2000-03-15    1.174511
2000-03-19   -0.722925
2000-03-23   -1.092424
2000-03-27    0.427607
2000-03-31   -0.780221
Freq: 4D, dtype: float64

In [89]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.308863
2000-02-29   -0.257737
2000-03-31   -0.165584
dtype: float64

## 11.4 Time Zone Handling

In [90]:
import pytz

In [91]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [92]:
tz = pytz.timezone('America/New_York')
tz

### Time Zone Localization and Conversion

In [93]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00   -0.300701
2012-03-10 09:30:00    0.125738
2012-03-11 09:30:00    0.889051
2012-03-12 09:30:00    1.151206
2012-03-13 09:30:00    1.123146
2012-03-14 09:30:00    0.674133
Freq: D, dtype: float64

In [94]:
print(ts.index.tz)

None

In [95]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [96]:
ts

2012-03-09 09:30:00   -0.300701
2012-03-10 09:30:00    0.125738
2012-03-11 09:30:00    0.889051
2012-03-12 09:30:00    1.151206
2012-03-13 09:30:00    1.123146
2012-03-14 09:30:00    0.674133
Freq: D, dtype: float64

In [98]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -0.300701
2012-03-10 09:30:00+00:00    0.125738
2012-03-11 09:30:00+00:00    0.889051
2012-03-12 09:30:00+00:00    1.151206
2012-03-13 09:30:00+00:00    1.123146
2012-03-14 09:30:00+00:00    0.674133
Freq: D, dtype: float64

In [99]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [100]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.300701
2012-03-10 04:30:00-05:00    0.125738
2012-03-11 05:30:00-04:00    0.889051
2012-03-12 05:30:00-04:00    1.151206
2012-03-13 05:30:00-04:00    1.123146
2012-03-14 05:30:00-04:00    0.674133
Freq: D, dtype: float64

In [101]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.300701
2012-03-10 14:30:00+00:00    0.125738
2012-03-11 13:30:00+00:00    0.889051
2012-03-12 13:30:00+00:00    1.151206
2012-03-13 13:30:00+00:00    1.123146
2012-03-14 13:30:00+00:00    0.674133
Freq: D, dtype: float64

In [102]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.300701
2012-03-10 15:30:00+01:00    0.125738
2012-03-11 14:30:00+01:00    0.889051
2012-03-12 14:30:00+01:00    1.151206
2012-03-13 14:30:00+01:00    1.123146
2012-03-14 14:30:00+01:00    0.674133
Freq: D, dtype: float64

In [103]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### Operations with Time Zone - Aware Timestamp Objects

In [105]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [107]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [108]:
stamp_utc.value

1299902400000000000

In [109]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [110]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [111]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [113]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [114]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations Between Different Time Zones

In [115]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [116]:
ts

2012-03-07 09:30:00   -0.214750
2012-03-08 09:30:00   -1.570530
2012-03-09 09:30:00    1.159864
2012-03-12 09:30:00    0.035508
2012-03-13 09:30:00   -0.877463
2012-03-14 09:30:00   -0.487192
2012-03-15 09:30:00    0.139815
2012-03-16 09:30:00   -0.869402
2012-03-19 09:30:00    0.871446
2012-03-20 09:30:00   -0.091500
Freq: B, dtype: float64

In [117]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts[2:].tz_localize('Europe/Moscow')
result = ts1 + ts2

In [118]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 05:30:00+00:00', '2012-03-09 09:30:00+00:00',
               '2012-03-12 05:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 05:30:00+00:00', '2012-03-13 09:30:00+00:00',
               '2012-03-14 05:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 05:30:00+00:00', '2012-03-15 09:30:00+00:00',
               '2012-03-16 05:30:00+00:00', '2012-03-19 05:30:00+00:00',
               '2012-03-20 05:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)